.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #131316;
    color: #f2f2f3;
}

.header {
    background-color: #1c1c21;
    color: #f2f2f3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.burgerLinks {
    display: flex;
}

.constructorBurger {
    display: flex;
    align-items: center;
}

.orderFeed {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
}

.createYourBurger {
    display: flex;
    justify-content: space-evenly;
}

.ingridients {
    width: 600px;
    height: 912px;
    top: 128px;
    left: 1020px;
}

.yourBurger {
    width: 600px;
    height: 912px;
    top: 128px;
    left: 1020px;
}

.ingridientsCatigories {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #4c4cff;
}

.catigories {}